@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Raleway:wght@400;500;600;700;800;900&display=swap');
.style-font {
    font-family: 'Raleway', sans-serif;
}

.brand-font {
    font-family: 'Passion One', cursive;
}

.logo {
    width: 28px;
    height: 48px;
}