@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Raleway:wght@400;500;600;700;800;900&display=swap');
.style-font {
    font-family: 'Raleway', sans-serif;
}

.brand-font {
    font-family: 'Passion One', cursive;
}

.logo {
    width: 28px;
    height: 48px;
}

.icons {
    font-size: 36px;
}

.icon {
    box-shadow: 0px 5px 10px #8d8db9;
    border-radius: 50px;
}

.icon:hover {
    box-shadow: 0px 0px 10px #8d8db9;
}

.about-me,
.experience,
.education,
.reference {
    font-size: 24px;
    box-shadow: 5px 10px 15px rgb(185, 183, 183);
    padding: 40px;
    border-radius: 10px;
    width: 50%;
}

.para-text,
.date {
    font-size: 18px;
}

.section-img {
    width: 80px;
    padding-bottom: 15px;
}

.link-hover:hover {
    color: white;
}

.ref-img {
    border: 4px solid #b4b5ff;
    border-radius: 60px;
}

.ref-details {
    position: relative;
    bottom: 25px;
}

.service-1,
.service-2,
.service-3 {
    box-shadow: 5px 10px 15px rgb(185, 183, 183);
    border-radius: 10px;
    width: 600px;
    transition: background-color .5s ease-in-out;
}

.service-2 {
    position: relative;
    bottom: 50px;
}

.service-1:hover,
.service-2:hover,
.service-3:hover {
    background-color: #b4b5ff;
    color: white;
}

.sl-no>h5 {
    font-size: 30px;
    color: white;
}

.sl-no {
    position: relative;
    bottom: 48px;
    left: 252px;
    background-color: #b4b5ff;
    border-bottom-left-radius: 60px;
    padding: 20px;
    width: 100px;
}

.view-btn {
    background-color: #b4b5ff;
    color: #ffffff;
}

.structures {
    font-size: 20px;
}

.structure {
    color: #b4b5ff;
}

.section-img-3 {
    width: 650px;
}

.project {
    width: 400px;
    box-shadow: 0px 5px 15px lightgrey;
    padding: 15px;
    border-radius: 15px;
}

.view-site,
.show-more {
    margin-top: 20px;
    padding: 5px 20px;
    border: none;
    background-color: #b4b5ff;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    transition: background-color .5s ease;
}

.more {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
}

.view-site>a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.view-site:hover,
.show-more:hover {
    background-color: #6d6ec5;
}

.project-img {
    width: 350px;
    border-radius: 10px;
    transition: filter .5s ease;
}

.project:hover .project-img {
    filter: grayscale(100);
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skill {
    text-align: center;
    box-shadow: 0px 5px 15px lightgrey;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    color: #464555;
    transition: all .6s ease;
}

hr {
    border: 1px solid #464555;
}

.skill:hover {
    background-color: #b4b5ff;
    color: white;
    transform: translate(2px, 2px);
    width: 170px;
    height: 170px;
}

@media screen and (max-width:576px) {
    .about-me,
    .experience,
    .education,
    .reference {
        width: 100%;
    }
    .service-1,
    .service-2,
    .service-3 {
        width: 400px;
    }
    .service-2 {
        position: relative;
        bottom: 0px;
    }
    .section-img-3 {
        width: 400px;
        order: 1;
    }
    .project-img {
        width: 280px;
    }
}